@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: rgb(27, 27, 27);
    color: white;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration-line: none;
}

ul {
    list-style: none;
}

.typeit {
    font-size: 40px;
    width: 500px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.typeit span {
    height: 200px;
}

.content {
    margin-top: 100px;
}

/* navigation */
.navigation {
    display: flex;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    background-color: rgb(58, 122, 68);
    width: 100vw;
    height: 60px;
    align-items: center;
}

.logo img {
    width: 120px;
    height: 100%;
    float: left;
}

.navigation nav {
    width: auto;
}

.navigation ul li {
    font-size: 20px;
    display: inline-block;
    margin: 0 40px 0 0;
    width: auto;
}

.menu {
    position: fixed;
    right: 2%;
}

.menu svg {
    width: 50px;
    height: 50px;
}

/* About */
.about_inner {
    display: flex;
}

.profile_list {
    display: flex;
    align-items: center;
}

.profile_img {
    width: 300px;
    border-radius: 40%;
    overflow: hidden;
    margin: 0 50px;
}

.profile_img img {
    width: 100%;
    object-fit: cover;
}

.profile {
    padding-left: 50px;
    font-size: 20px;
}

.profile_list li {
    padding: 10px 0;
}

.date {
    width: 180px;
    vertical-align: top;
}

.edu_list, .cert_list {
    display: inline-block;
    margin-bottom: 30px;
}

.edu_list h4, .cert_list h4, .edu_list p, .cert_list p {
    margin: 0 0 10px 0;
}

.Education ul li, .Certificate ul li, .Experience ul li {
    display: flex;

}

.edu_list h4, .edu_list p, .exp_list h4, .exp_list p {
    margin: 0;
}

/* skills */
.basic_publish {
    background-color: rgb(27,27,27);
}

#skills_inner p {
    margin: 0;
}

#language {
    width: 100%;
    display: inline-block;
}

#language h4 {
    vertical-align: middle;
}

#skills_inner ul {
    display: flex;
    width: 75%;
}

#skills_inner ul li img {
    padding: 5px 20px;
}

#skills_inner ul li p {
    text-align: center;
}